.locationCity {
  font-size: 32px;
}
.temp {
  font-size: 40px;
  font-weight: bold;
}

.tempFeelsLike {
  font-size: 14px;
  font-weight: normal;
  display: block;
}
.condition {
  text-align: center;
}

.condition img {
  width: 60px;
  height: 60px;
}

@media (max-width: 550px) {
  .locationCity {
    font-size: 26px;
  }
  .temp {
    font-size: 36px;
  }
}

@media (max-width: 380px) {
  .locationCity {
    font-size: 18px;
  }
  .temp {
    font-size: 28px;
  }
}
