.details {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}

.details div {
    padding-top: 10px;
}

.details span {
    display: block;
    line-height: 1;
    font-size: 30px;
}

.details img {
    display: block;
    padding-top: 5px;
}

@media (max-width: 550px) {
    .details span {
        font-size: 22px;
    }
}

@media (max-width: 380px) {
    .details span {
        font-size: 14px;
    }
    .details div {
        font-size: 16px;
    }
}
