.forecast {
    width: 724px;
    margin: 0 auto;
}

.tabContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tabContentItem {
    text-align: center;
    width: 80px;
    margin: 15px;
}

.dayWeather {
    padding: 10px 15px;
    width: 220px;
    border-radius: 30px;
    font-size: 24px;
    transition: 1s;
}

.date {
    line-height: 24px;
}

.dayWeather:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .4);
}

.text {
    height: 50px;
    font-size: 12px;
}

.temp {
    font-size: 28px;
    line-height: 1;
}

.mintemp {
    padding-left: 10px;
    font-size: 18px;
}

.detailsTabContent {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.detailsTabContent span,
.astroTabContent span {
    display: block;
}

.astroTabContent {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.tabContentItem {
    width: 93px !important;
}

.icon {
    width: 35px;
    height: 35px;
    margin: 0 auto;
}
