.forecast {
    width: 724px;
    margin: 0 auto;
}

.tabContentItem {
    text-align: center;
    width: 93px;
    margin: 15px 0;
}

.dayWeather {
    padding: 10px 15px;
    width: 220px;
    border-radius: 30px;
    font-size: 24px;
    transition: 1s;
}

.date {
    line-height: 24px;
}

.dayWeather:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .4);
}

.text {
    height: 50px;
    font-size: 12px;
}

.temp {
    font-size: 28px;
    line-height: 1;
}

.mintemp {
    padding-left: 10px;
    font-size: 18px;
}

.detailsTabContent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 14px;
}

.detailsTabContent span,
.astroTabContent span {
    display: block;
}

.astroTabContent {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.hourlyIcon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.hourlyTime,
.hourlyTemp {
    font-size: 24px;
    line-height: 1;
}

@media (max-width: 800px) {
    .forecast {
        width: 500px;
    }
    .dayWeather {
        width: 144px;
    }
    .Tab {
        width: 496px;
    }
    .detailsTabContent {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    .hourlyTime,
    .hourlyTemp {
        font-size: 20px;
        line-height: 1;
    }
}

@media (max-width: 550px) {
    .forecast {
        width: 350px;
    }
    .dayWeather {
        width: 94px;
    }
    .Tab {
        width: 346px;
    }
    .temp {
        font-size: 18px;
    }
    .mintemp {
        padding-left: 2px;
        font-size: 14px;
    }
    .text {
        display: none;
    }
    .date {
        font-size: 20px;
    }
    .detailsTabContent {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .tabContentItem {
        margin: 10px 0;
    }
    .hourlyTime,
    .hourlyTemp {
        font-size: 14px;
        line-height: 1;
    }
    .hourlyIcon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 380px) {
    .forecast {
        width: 298px;
    }
    .dayWeather {
        width: 90px;
    }
    .Tab {
        width: 290px;
    }
    .temp {
        font-size: 14px;
    }
    .mintemp {
        font-size: 10px;
    }
    .date {
        font-size: 16px;
    }
    .astroTabContent {
        font-size: 16px;
    }
}
