.App {
  max-width: 1170px;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  color: #fff !important;
}

.CurrentWeather {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.localise {
  max-width: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 380px) {
  .App {
    padding: 0 10px;
  }
}

