.App {
  max-width: 1170px;
  text-align: center;
  padding: 15px 20px;
  margin: 0 auto;
  color: #fff !important;
}

.CurrentWeather {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

